<?php
/**
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP Version 5
 *
 * @category  Mzentrale
 * @package   Mzentrale_GoogleMerchants
 * @author    Francesco Marangi | mzentrale <f.marangi@mzentrale.de>
 * @copyright 2014 mzentrale GmbH & Co. KG
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 * @link      http://www.mzentrale.de/
 */

/* @var $this Mzentrale_GoogleMerchants_Block_TrustedStores_Order */
$_order    = $this->getOrder();
$_address  = $_order->getShippingAddress() ? $_order->getShippingAddress() : $_order->getBillingAddress();
$_helper   = Mage::helper('mzgooglemerchants/trustedStores');
$_gsHelper = Mage::helper('mzgooglemerchants/shopping');
?>

<!-- START: Google Trusted Stores Order -->
<div id="gts-order" style="display:none;" translate="no">
    <span id="gts-o-id"><?php echo $_order->getIncrementId() ?></span>
    <span id="gts-o-domain"><?php echo $_helper->getOrderDomain() ?></span>
    <span id="gts-o-email"><?php echo $_order->getCustomerEmail(); ?></span>
    <span id="gts-o-country"><?php echo $_address->getCountryId() ?></span>
    <span id="gts-o-currency"><?php echo $_order->getOrderCurrencyCode() ?></span>
    <span id="gts-o-total"><?php echo $this->formatNumber($_order->getGrandTotal()) ?></span>
    <span id="gts-o-discounts"><?php echo $this->formatNumber($_order->getDiscountAmount()) ?></span>
    <span id="gts-o-shipping-total"><?php echo $this->formatNumber($_order->getShippingAmount()) ?></span>
    <span id="gts-o-tax-total">0</span>
    <span id="gts-o-est-ship-date"><?php echo $_helper->getEstimatedShippingDate($_order) ?></span>
    <span id="gts-o-est-delivery-date"><?php echo $_helper->getEstimatedDeliveryDate($_order) ?></span>
    <span id="gts-o-has-preorder">N</span>
    <span id="gts-o-has-digital"><?php echo $_helper->hasVirtualProducts($_order) ? 'Y' : 'N' ?></span>
<?php foreach ($_order->getAllVisibleItems() as $_item): ?>
<?php /* @var $_item Mage_Sales_Model_Order_Item */ ?>
    <span class="gts-item">
        <span class="gts-i-name"><?php echo $this->escapeHtml($_item->getName()) ?></span>
        <span class="gts-i-price"><?php echo $this->formatNumber($_item->getPriceInclTax()) ?></span>
        <span class="gts-i-quantity"><?php echo (int) $_item->getQtyOrdered() ?></span>
        <span class="gts-i-prodsearch-id"><?php echo $_item->getProduct()->getData('sku') ?></span>
<?php if ($_gsHelper->isActive()): ?>
        <span class="gts-i-prodsearch-store-id"><?php echo $_gsHelper->getAccountId() ?></span>
        <span class="gts-i-prodsearch-country"><?php echo $_gsHelper->getCountry() ?></span>
        <span class="gts-i-prodsearch-language"><?php echo $_gsHelper->getLanguage() ?></span>
<?php endif; ?>
    </span>
<?php endforeach; ?>
</div>
<!-- END: Google Trusted Stores Order -->
